body{
	background-color: #E9E9E9;
}
.container{
	background: #fff;
	box-shadow: 0px 0px 8px #999;
}
.header{
	background: #588BFF;
}
.logo{
	background: #588BFF;
}
.row{
	max-width: 65.5rem;
}
.main-container{
	max-width: 65.5rem;
	margin: auto;
}
.columns{
	padding: 0px;
}
nav{
	background: #222;
}
nav .menu-bar{
	margin: 0px;
}
nav .menu-bar li{
	display: inline-block;
	float: left;
	position: relative;
}
.dropdown:hover .dropdown-menu{
	display: block;
}
.dropdown .dropdown-menu{
	position: absolute;
	z-index: 9999;
	width: 200px;
	background: #fff;
	padding: 11px 0px;
	margin-left: 0px;
	display: none;
	box-shadow: 0px 0px 7px #444;
}
.dropdown .dropdown-menu li{
	float: none;
	display: block;
}
.active .dropdown-menu li a{
	background: #fff !important;
	color: #444 !important;
}
.active .dropdown-menu li a:hover{
	background: #588BFF !important;
	color: #fff !important;
}
.dropdown .dropdown-menu li a{
	color: #444;
	display: block;
}
nav .menu-bar li a {
	padding: 0.7em 1.4em;
	font-size: 11px;
	color: #C4C4C4;
	display: inline-block;
	text-transform: uppercase;
	-webkit-transition-duration: .3s;
	-moz-transition-duration: .3s;
	-o-transition-duration: .3s;
	transition-duration: .3s;
	-ms-transition-duration: .3s;
}
nav .menu-bar li a:hover{
	background: #588BFF;
	color: #fff;
}
nav .menu-bar li.active a{
	background: #588BFF;
	color: #fff;
}
.orbit-caption ,.orbit-bullets-container{
	display: none;
}
.slider-part{
	margin-top: 2px;
}
.slider-part img{
	width: 100%;
}
.slide-caption h2 {
	color: #999;
	font-size: 26px;
	line-height: 1.21;
	border-bottom: solid 2px;
	display: inline-block;
	margin-bottom: 0px;
}
.padding-left{
	padding-left: 0px;
}
.padding-right{
	padding-right: 0px;
}
.slide-caption {
	background: #292929;
	min-height: 388px;
	padding: 10px 25px;
	box-shadow: 0px 0px 25px #111 inset;
}
.marquee-container marquee{
    height: 250px;
}
.marquee-container .detail p{
	color: #fff;
	font-size: 12px;
	margin-bottom: 0px;
}
.marquee-container .detail ol li a{
	font-size: 12px;
	color: #fff;
}
.marquee-container .detail ol li a:hover{
	text-decoration: underline;
}
.marquee-container .detail ol li{
	color: #fff;
	font-size: 12px;
}
.marquee-container{
	padding-top: 25px;
}
.courses .list{
	border: solid 1px #ddd;
	border-top: none;
	border-bottom: 0px;
	text-align: center;
	border-left: none;
	background: #F7F7F7;
	box-shadow: 0px -9px 8px #E9E9E9 inset;
	-webkit-transition-duration: .3s;
	-moz-transition-duration: .3s;
	-o-transition-duration: .3s;
	transition-duration: .3s;
	-ms-transition-duration: .3s;
}
.courses .list:last-child{
	border: none;
}
.courses .list:hover{
	box-shadow: 0px 9px 8px #E9E9E9 inset;
  	background: #fff;
}
.courses .list a{
	padding: 20px 7px;
	color: #444;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	display: block;
}
.courses .list a span{
	font-size: 11px;
	color: #222;
	border-bottom: 2px solid;
	display: block;
	width: 150px;
	margin: 0px auto 17px;
	text-transform: none;
}
.heading h2{
	margin-top: 30px;
	font-size: 15px;
	text-transform: uppercase;
	border-bottom: 1px solid #C4C4C4;
	color: #444; 
	margin-bottom: 25px;
}
.heading h2 span{
	font-weight: normal;
	position: relative;
	display: inline-block;
	background: #fff;
	margin-bottom: 4px;
}
.about ,.faculty{
	padding: 0px 12px;
}
.faculty .columns ,.about .columns{
	padding: 0px 15px;
}
.content-container .columns{
	padding: 0px 25px;
}
.about{
	padding-bottom: 40px;
}
.faculty .faculty-img {
	width: 100px;
	position: absolute;
	border: solid 2px #FFFFFF;
	box-shadow: 0px 0px 3px #ddd;
	top: 4px;
}
.faculty .faculty-text{
	padding-left: 120px;
}
.faculty .faculty-head h4{
	font-size: 12px;
	margin-top: 0px;
	font-weight: 100;
	color: #fff;
	box-shadow: 0px 0px 16px #0A5E8D inset;
	background: #588BFF;
	padding: 6px 10px;
}
.faculty .faculty-text p{
	font-size: 13px;
	color: #6D6D6D;
}
.faculty .faculty-text a{
	font-size: 13px;
	display: inline-block;
	margin-bottom: 10px;
}
.faculty .faculty-text a:hover{
	text-decoration: underline;
}
.faculty .faculty-detail {
	position: relative;
	margin-top: 0px;
	margin-bottom: 27px;
	min-height: 162px;
	box-shadow: 0px 0px 8px #ddd;
}
.faculty .faculty-detail .faculty-data{
	position: relative;
	padding: 0px 10px;
}
.result-student marquee img{
	width: 500px;
}
.left-main{
	padding: 0px 25px;
	border-left: solid 1px #ededed;
	padding-bottom: 25px;
}
.text p{
	font-size: 13px;
	color: #6D6D6D;
	text-align: justify;
}
p{
	font-size: 13px;
	color: #6D6D6D;	
}
.text a{
	font-size: 13px;
	margin-bottom: 10px;
	display: inline-block;
}
.text a:hover{
	text-decoration: underline;
}
footer{
	background: #222;
}
footer .main-footer h5{
	color: #B4B4B4;
	margin-bottom: 20px;
	display: inline-block;
	border-bottom: solid 2px;
	padding-right: 30px; 
}
footer .main-footer ul{
	list-style-type: none;
	margin: 0px;
}
footer .main-footer ul a{
	color: #868686;
	font-size: 13px;
	-webkit-transition-duration: .3s;
	-moz-transition-duration: .3s;
	-o-transition-duration: .3s;
	transition-duration: .3s;
	-ms-transition-duration: .3s;
}
footer .main-footer ul a:hover{
	text-decoration: underline;
	color: #fff;
}
footer .main-footer .list{
	padding: 26px;
}
footer .main-footer .list p{
	color: #868686;
	margin-top: 5px;
}
footer .footer-bottom .list{
	padding: 15px 26px;
}
footer .footer-bottom {
	background: #1A1A1A;
	text-align: center;
}
footer .footer-bottom .list p{
	margin-bottom: 0px;
	font-size: 12px;
}
.gallery li{
	float: left;
	display: inline-block;
	width: 55px;
	margin-right: 15px;
	margin-bottom: 15px;
}
.gallery li img{
	width: 55px;
	border: solid 2px #4B4B4B;
	height: 55px;
	border-radius: 3px;
}
.content-container{
	padding: 20px 0px 40px;
}
table.discription{
	width: 100%;
	margin-bottom: 30px;
	border-collapse: collapse;
}
table.discription tr td{
	border: solid 1px #C9C9C9;
	color: #444;
	font-size: 13px;
}
table.discription ul li{
	color: #444;
	font-size: 13px;
}
.content blockquote b{
	color: #444;
}
.content-container .text li{
	font-size: 13px;
}
.text .video-link{
	margin-top: 10px;
	margin-bottom: 30px;
}
.padding-none{
	padding: 0px;
}
.padding-none h2 {
	font-size: 17px;
	margin-top: 0px;
	font-weight: 100;
	color: #fff;
	background: #588BFF;
	padding: 12px 25px;
	margin-bottom: 0px;
}
.padding-none .close1{
	top: 3px;
	color: #fff;
}
.inner-modal{
	position: relative;
	padding: 25px;
	min-height: 200px;
}
.inner-modal .image-part{
	position: absolute;
	width: 115px;
	top: 31px;
	box-shadow: 0px 0px 5px #999;
	background: #ddd;
	padding: 3px;
}
.inner-modal .text-part{
	padding-left: 140px;
}
.coming{
	font-weight: bold;
	font-size: 52px;
	text-transform: uppercase;
	text-align: center;
	padding: 100px 0px;
}
.login-container{
	width: 350px;
	margin-top: 20px;
	border-radius: 3px;
	box-shadow: 0px 2px 5px #999;
	margin: 20px auto;
	background: #f8f8f8;
	padding: 20px;
}
.login-container .heading h2{
	margin: 7px 0px 25px;
}
.login-container .heading h2 span{
	background: transparent;
}
.tiny{
	font-size: 14px !important;
}
.notice-container {
	background: url('../img/cork-board.png');
	background-position: 100%;
	background-repeat: repeat;
	padding: 0px 15px 30px;
	border: solid 16px #C48726;
	margin: 20px;
	box-shadow: 0px 0px 9px #222 inset;
}
.notice-container .notice{
	background: #f8f8f8;
	cursor: pointer;
	padding: 10px 20px 5px;
	text-align: left;
	position: relative;
	border-radius: 5px;
	margin-top: 30px;
}
.notice-container .notice:hover{
	box-shadow: 0px -1px 5px #999;
}
.notice-container .notice h4 ,.notebook h4{
	font-size: 18px;
	border-bottom: solid 2px;
	margin-bottom: 15px;
	padding-bottom: 5px;
	color: #444;
	text-transform: uppercase;
}
.notice-container .notice .caption{
	position: absolute;
	top: 0px;
	right: 0px;
	background: #1D8B19;
	color: #fff;
	font-size: 12px;
	padding: 10px;
	border-radius: 0px;
	text-transform: uppercase;
}
.notice-container .notice .pin {
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 50%, black 100%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, black);
	background-image: radial-gradient(yellow 50%, black 100%);
	z-index: 999999;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	position: absolute;
	left: 5px;
	top: 6px;
}
.bg-none{
	background: transparent;
	border: none;
	box-shadow: none;
}
.bg-none .notice.sticky1,.bg-none .notice.sticky2 ,.bg-none .notice.sticky3,.bg-none .notice.sticky4{
	transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    background: transparent;
}
.notice.sticky1 {
    transform: rotate(3.5deg);
    -webkit-transform: rotate(3.5deg);
    -moz-transform: rotate(3.5deg);
    background-color: #CBFAFA;
}
.notice.sticky2 {
    transform: rotate(3.5deg);
    -webkit-transform: rotate(3.5deg);
    -moz-transform: rotate(3.5deg);
    background-color: #FFF780;
}
.notice.sticky3 {
    transform: rotate(3.5deg);
    -webkit-transform: rotate(3.5deg);
    -moz-transform: rotate(3.5deg);
    background-color: #F8CDCD;
}
.notice.sticky4 {
    transform: rotate(3.5deg);
    -webkit-transform: rotate(3.5deg);
    -moz-transform: rotate(3.5deg);
    background-color: #fff;
}
.hidden{
	display: none;
}
.notebook{
	background: #F4FFBA;
	border-radius: 5px;
	min-height: 200px;
}
.notebook p{
	font-size: 16px;
}
.reveal-modal{
	top: 20px;
}
.query-form{
	position: relative;
}
.query-form .button.main{
	float: right;
	margin-bottom: 0px;
	background: #333;
}
.query-form .button.main:hover ,.query-form .button.main:focus{
	background: #222;
}
.query-form .form-text{
	width: 300px;
	right: 0px;
	z-index: 9999;
	top: 52px;
	background: #222;
	padding: 20px 40px;
	position: absolute;
	display: none;
}
.query-form label{
	color: #ddd;
}